---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Comment ça marche ?</h1>

			<p>Ce site rassemble les annonces des sites suivants :</p>
			<ul>
				<li>
					transentreprise.com
				</li>
			</ul>
			
			<p>La recherche part du principe que : </p>
			<ul>
				<li>
					L'entreprise à racheter se trouve en Haute-Savoie
				</li>
				<li>
					Son prix ne dépasse pas les 200k euros
				</li>
				<li>
					L'annonce possède un prix (certaines annonces sont catégorités en "NA")
				</li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
